<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>$header_title</title>
<style type="text/css">
  body {font-family: verdana, arial;}
  input {font-family: verdana, arial;}
</style>
<script type="text/javascript" language="JavaScript">
<!--
function fokuser(){document.loginform.username.focus();}
// -->
</script>
</head>
<body onload="fokuser()">

<table summary="" cellpadding="5" cellspacing="5" border="0" width="100%">
  <tr valign="top">
    <td width="5%" rowspan="3">&nbsp;</td> 
    <td colspan="2">
      <table summary="" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td valign="middle">&nbsp;
            <a href="http://www.feide.no/"><img src="/element/feidelogo.png" alt="FEIDE-logo" border="0"/></a>
          </td>
          <td valign="middle">
            <table summary="" cellspacing="0" cellpadding="0" border="0" >
              <tr>
                <td valign="top">-&nbsp;</td>
                <td><font size="-1"><b>$body_title</b></font></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="5%" rowspan="2">&nbsp;</td>
  </tr>

#if ($errorMessage)
  <tr>
   <td colspan="2">
   <table summary="" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
    <td valign="top">
    <img src="/element/varseltrekant.png" alt="feilmelding"/>
    </td>
    <td valign="middle" width="99%">
    <b>$errorMessage</b><br/>
    <i>$errorDescription</i>
    </td>
    </tr>
    </table>
    </td>
   </tr>
#end

#if ($loginURL)	  
  <tr valign="top"> 
    <td width="20%">
      <table summary="" cellpadding="7" cellspacing="0" border="0" bgcolor="#EEEEFF">
        <tr>
          <td>
            <form action="$loginURL" method="POST" name="loginform" autocomplete="off">
              <table summary="" cellpadding="3" cellspacing="3" border="0" bgcolor="#EEEEFF">
                <tbody>
                  <tr>
                    <td align="left" nowrap ="nowrap">
		      $form_username<br/>
                      <input type="text" size="8" value="" name="username"></td>
		    <td><br/>@</td>
		    <td>
		      $form_org<br/>
		    <input type="text" size="8" value="$preset_realm" name="realm"><br></td>
</tr>
<tr>
<td colspan="3">
                      $form_password<br>
                      <input type="password" size="16" value="" name="password">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" valign="top"> 
                    <input type="submit" value="$form_login">
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </td>
        </tr>
      </table>

    </td>
    <td width="70%">
      <table summary="" cellspacing="3" cellpadding="3" border="0" >
      <tr valign="top">
        <td><img src="/element/listepunkt.gif" alt="-"/></td>
        <td>$expl_ws</td>
      </tr>
      <tr valign="top">
        <td><img src="/element/listepunkt.gif" alt="-"/></td>
        <td>$expl_user</td>
      </tr>
      <tr valign="top">
        <td><img src="/element/listepunkt.gif" alt="-"/></td>
        <td>$expl_data <BR/>

<!--
$showHideLink<BR/>


#foreach( $attrName in $attrNames )
    $attrName<BR/>
#end
-->
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><hr noshade="noshade" size="1"/></td>
      </tr>
      <tr valign="top">
        <td>&nbsp;</td>
        <td>
	  <a href="http://www.feide.no/moria/doc/user/faq.html">$faq</a><img src="/element/emblemS.png" border="0" valign="middle alt="FEIDE FAQ" />
	</td>
      </tr>
    </table>
  </td>

#else 
&nbsp;
#end


</tr>
</table>
</body>
</html>