<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Moria Stats</title>
<link rel="StyleSheet" href="/stats.css">
</head>

<body bgcolor="#FFFFFF">

<img class="logo" src="/element/feidelogo.png" alt="FEIDE-logo" border="0"/>

<h1>Moria</h1>

<table>
<tr><th>Started:</th><td>$upStartDate</td></tr>
<tr><th>Uptime:</th><td>$upDays days, $upHours hours, $upMin minutes</td></tr>
<tr><th>Clients:</th><td>$numOfWebServices</td></tr>
</table>

<br/>

<h2>Configuration</h2>
<table>

<tr>
<th>Default language</th><td class="num">$properties.getProperty("no.feide.moria.defaultLanguage")</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>Session timeout (SSO)</th><td class="num">$properties.getProperty("no.feide.moria.SessionSSOTimeout") minutes</td>
</tr>

<tr>
<th>Allowed login attempts</th><td class="num">$properties.getProperty("no.feide.moria.MaxFailedLogins")</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>Session timeout (user)</th><td class="num">$properties.getProperty("no.feide.moria.SessionTimeout") seconds</td>
</tr>

<tr>
<th>Auth. data timer delay</th><td class="num">$properties.getProperty("no.feide.moria.AuthorizationTimerDelay") seconds</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>Session timeout (auth.)</th><td class="num">$properties.getProperty("no.feide.moria.AuthenticatedSessionTimeout") seconds</td>
</tr>

<tr>
<th>LDAP Timeout</th><td class="num">$properties.getProperty("no.feide.moria.backend.ldap.timeout") seconds</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>Session timer delay</th><td class="num">$properties.getProperty("no.feide.moria.SessionTimerDelay") seconds</td>
</tr>

</table>

<br/><br/>

<h1>Mellon statistics</h1>

Login attempts by unauthorized clients:
$deniedSessionsAuthentication

<br/>
<br/>

<table>

<tr>
<th>&nbsp;</th>
<th class="thstat" colspan="2">Sessions</th>
<th class="thstat" colspan="3">Authentications</th>
<th class="thstat" colspan="3">Timeout</th>
<th class="thstat" colspan="2">Not created</th>
</tr>

<tr>
<th class="thstat">Client</th>
<th class="thstat">Active</th>
<th class="thstat">Created</th>
<th class="thstat">Sucsessful</th> 
<th class="thstat">Failed</th>
<th class="thstat">SSO</th> 
<th class="thstat">User</th>
<th class="thstat">SSO</th>
<th class="thstat">Client</th>
<th class="thstat">Invalid URL</th>
<th class="thstat">Attributes</th>
</tr>

#foreach( $wsName in $wsStats.keySet() )
<tr>
<td>$wsName</td>
<td class="tdstat">$wsStats.get($wsName).get("activeSessions")</td>
<td class="tdstat">$wsStats.get($wsName).get("createdSessions")</td>
<td class="tdstat">$wsStats.get($wsName).get("loginAttemptSuccess")</td>
<td class="tdstat">$wsStats.get($wsName).get("loginAttemptFailed")</td>
<td class="tdstat">$wsStats.get($wsName).get("loginAttemptSSO")</td>

<td class="tdstat">$wsStats.get($wsName).get("sessionsTimeoutUSER")</td>
<td class="tdstat">$wsStats.get($wsName).get("sessionsTimeoutSSO")</td>
<td class="tdstat">$wsStats.get($wsName).get("sessionsTimeoutAUTH")</td>

<td class="tdstat">$wsStats.get($wsName).get("deniedSessionsURL")</td>
<td class="tdstat">$wsStats.get($wsName).get("deniedSessionsAuthorization")</td>

</tr>
#end

</table>


</body>
</html>