<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->

<web-app
   xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">

  <description>Moria federated web authentication service</description>
  <display-name>Moria</display-name>

  <context-param>
    <param-name>jsp.location</param-name>
    <param-value>/WEB-INF/jsp</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.xml</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>no.feide.moria.servlet.LoginServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>no.feide.moria.servlet.LogoutServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Client</servlet-name>
    <servlet-class>no.feide.moria.servlet.ClientServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>no.feide.moria.servlet.SimpleAxisServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Status.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/status.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Logout.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/logout.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Login.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Client.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/client.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>JSP-Error.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/jsp-error.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Axis.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/axis.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Axis-Error.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/axis-error.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Axis-SOAP-Error.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/axis-soap-error.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Client</servlet-name>
    <url-pattern>/Client</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/v1_0/Authentication</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/v1_1/Authentication</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Status.JSP</servlet-name>
    <url-pattern>/Status</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JSP-Error.JSP</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>

  <!--error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error</location>
  </error-page-->
</web-app>
