<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->

<web-app
   xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">

  <description>Moria2 Federated Authentication Service (HTTP/SOAP Interface)</description>

  <display-name>Moria2</display-name>

  <listener>
    <listener-class>no.feide.moria.servlet.MoriaLifeCycleListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>no.feide.moria.servlet.LoginServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>no.feide.moria.servlet.soap.SimpleAxisServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>no.feide.moria.servlet.LogoutServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>  

  <servlet>
    <servlet-name>Information</servlet-name>
    <servlet-class>no.feide.moria.servlet.InformationServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>Status</servlet-name>
    <servlet-class>no.feide.moria.servlet.StatusServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>  

  <servlet>
    <servlet-name>Picture</servlet-name>
    <servlet-class>no.feide.moria.servlet.PictureServlet</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>  
  
  <servlet>
    <servlet-name>Statistics</servlet-name>
    <servlet-class>no.feide.moria.servlet.StatisticsServlet</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>  
  
   <servlet>
    <servlet-name>Information.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/information.jsp</jsp-file>
  </servlet>
 
  <servlet>
    <servlet-name>Logout.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/logout.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Login.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>JSP-Error.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/jsp-error.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Axis.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/axis.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Axis-Error.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/axis-error.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Axis-SOAP-Error.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/axis-soap-error.jsp</jsp-file>
  </servlet>
  
  <servlet>
    <servlet-name>Information-Welcome.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/information-welcome.jsp</jsp-file>
  </servlet>
 
 <servlet>
    <servlet-name>Faq.JSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/faq.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>Information</servlet-name>
    <url-pattern>/InformationService</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
    <servlet-name>Information-Welcome.JSP</servlet-name>
    <url-pattern>/Information</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Faq.JSP</servlet-name>
    <url-pattern>/Faq</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/Status</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Picture</servlet-name>
    <url-pattern>/Picture</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>Statistics</servlet-name>
    <url-pattern>/Statistics</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/v2_1/Authentication</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/v2_2/Authentication</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JSP-Error.JSP</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.xml</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error</location>
  </error-page>

</web-app>
